<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>کارت ویزیت - سارا بهبودی</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <main class="page">
        <section class="card">
            <div class="left">
                <h1>{{ profile.name }}</h1>
                <p>شماره دانشجویی: {{ profile.student_id }}</p>
                <p>{{ profile.major }}</p>
                <p>🎸 {{ profile.role }}</p>
            </div>
        </section>
    </main>
</body>

</html>